@model Innovation4Austria.web.Models.RaumBuchungsModel

@using (Html.BeginForm("Buchen", "Raum", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        
            @foreach (var raum in Model.gesuchteRaumListe)
            {
                <div class="col-md-3 Kartenansicht">                    
                    <img src="~/Bild/BildZuRaum/@raum.Id" data-toggle="tooltip" title="@raum.Beschreibung" class="imgTag">
                    <div class="SchriftgroesseKarten">@raum.Bezeichnung</div>
                    <div class="SchriftgroesseKarten">@raum.RaumArt</div>
                    <div class="SchriftgroesseKarten">@raum.Beschreibung</div>
                    <div class="SchriftgroesseKarten">€ @raum.Preis,- / Tag</div>
                    @Html.HiddenFor(x => x.StartDatum)
                    @Html.HiddenFor(x => x.EndDatum)
                    @Html.HiddenFor(x=>raum.Id)
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Buchen" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
       
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
